venv/
*.pyc
__pycache__/
.env
user_data/

# Resultados y Data
*.csv
*.png
!example.csv
!Analítica_Datos_Daniel_Carol.csv
!apoyo_pie_charts.png
!nube_analitica_carol.png
!resultados_cuantitativos.png

# Herramientas temporales
fix_csv_delimiter.py
fix_csv_one.py
test_sentiment.py
